body {
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif ; */
    font-family: 'Source Sans Pro', sans-serif;
}
.logo {
    max-width: 120px;
    
}
.header {
    background-color:#d2fbff ;
}
.navigation {
    background-color: #333333;
    text-align: center;
}
.navigation a {
    color: white;
    font-size: 120%;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
}
.navigation .active {
    background-color: #666666;
}
.banner {
    background-color: pink;
    aspect-ratio: 16/4;
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
    grid-column: span 2;
}
.banner h1 {
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 5px;
}
.banner.home {
    background-image: url("anton-sharov-_kkx1WekVRY-unsplash.jpg");
}
.banner.about {
    background-image: url("andre-hunter-p-I9wV811qk-unsplash.jpeg");
}
.banner.contact {
    background-image: url("nathan-dumlao-6VhPY27jdps-unsplash.jpeg");
}

.footer {
    min-height: 100px;
    background-color: #333333;
}
.social a {
    color: yellow;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 28px;
}
.social {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    max-width: 1200px;
    margin: auto;
}