body {
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif ; */
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* vh = viewport height ~ window height */
    min-height: 100vh;
}
.logo {
    max-width: 120px;
    
}
.header {
    background-color:#d2fbff ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.nav-button {
    width: 54px;
    height: 54px;
    font-size: 38px;
    display: none;
}
.navigation {
    /* background-color: #333333; */
    text-align: center;
    /* width: 100%; */
}
.navigation a {
    color: rgb(95, 95, 95);
    font-size: 120%;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
}
.navigation .active {
    background-color: #f3f3f3;
}
.banner {
    background-color: pink;
    aspect-ratio: 16/4;
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
    grid-column: span 2;
}
.banner h1 {
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 5px;
}
.banner.home {
    background-image: url("anton-sharov-_kkx1WekVRY-unsplash.jpg");
}
.banner.about {
    background-image: url("andre-hunter-p-I9wV811qk-unsplash.jpeg");
}
.banner.contact {
    background-image: url("nathan-dumlao-6VhPY27jdps-unsplash.jpeg");
    grid-column: span 3;
}

.footer {
    min-height: 100px;
    background-color: #333333;
}
.social a {
    color: yellow;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 28px;
}
.social {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    max-width: 1200px;
    /* vw = viewport width ~ width of window */
    min-width: 70vw;
    margin: 30px auto;
}

.page-title {
    grid-column: span 2;
}
/* contact form */
.content.contact {
    grid-template-columns: 1fr 2fr 1fr;
}
.form {
    background-color: #cccccc;
    grid-column-start: 2;
    padding: 20px;
    border-radius: 15px;
}
.form label {
    display: block;
    font-weight: bold;
}
.form input {
    min-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
}
.form input:focus {
    outline-color: #333333;
    background-color: rgb(254, 240, 224);
}
#message {
    min-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
}
.centre {
    text-align: center;
}
.form-button {
    background-color: #333333;
    color: white;
    padding: 10px;
    min-width: 100px;
}

.carousel {
    grid-column: span 2;
}

.slide {
    min-height: 40vh;
    min-width: 100%;
}
.slide h1 {
    margin: 0;
}
.one {
    background-color: lightyellow;
}
.two {
    background-color: lightgreen;
}
.three {
    background-color: lightblue;
}
.four {
    background-color: lightsalmon;
}
.five {
    background-color: lightseagreen;
}