.logo {
    max-width: 120px;
    /* margin: auto; */
    /* display: block; */
}
.header {
    background-color:#d2fbff ;
}
.navigation {
    background-color: #333333;
    text-align: center;
}
.navigation a {
    color: white;
    font-size: 120%;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
}
.banner {
    background-color: pink;
    aspect-ratio: 16/4;
    display: grid;
    place-items: center;
    background-image: url("anton-sharov-_kkx1WekVRY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
.banner h1 {
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 5px;
}